*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body,html{
    height: 100%;
    width: 100%;
}

body{
    background: linear-gradient(45deg, #61d7fb 0%, #ff5acd 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
width: 70%;
padding:1.3rem;
max-height: 70vh;
background-color: white;
}
.top_part{
    width: 100%;
    position: relative;
}
.top_part .title_part{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #3b3b3b;
    padding-bottom: 20px;
}

.title_part h2 {
    font-size: 2rem;
    opacity: .7;
}
.sound{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sound span{
    margin-right: 10px;
    opacity: .6;
}
input[type = "checkbox"]{
    width: 60px;
    height: 32px;
    background-color: #fff;
    appearance: none;
    border-radius: 40px;
    position: relative;
    cursor: pointer;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);

}
input[type = "checkbox"]::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 1px;
    left: 3px ;
    background-color: white;
    border-radius: 50%;
    transition: .3s all ease-in-out;
    box-shadow: 0 0 10px rgb(0,0,0,.1);

}
input[type = "checkbox"]:checked{
    background-color: rgb(166 172, 255);
}
input[type = "checkbox"]:checked::before{
    left: 27px;
}

/* TYPE CONTENT */
.type_content{
    margin-block: 20px;
}

.type_content input{
    position: absolute;
    z-index: -99;
    opacity: 0;

}
.type_content p{
    font-size: 1.3rem;
    max-height: 40vh;
    overflow-y: auto;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: justify;
    text-align-last: center;
    scrollbar-width: thin;
    padding: 1;
}
::selection{
    background-color:  #9834d2;
    color: white;
}
.type_content p::-webkit-scrollbar {
  width: 6px;
}
.type_content p::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}
.type_content p::-webkit-scrollbar-thumb:hover {
  background: #666;
}
/* BOTTOM PART */

.bottom_part{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    box-shadow:-1px -1px 16px 8px rgb(153 122 219 / 17%);
}

.bottom_part p{
    font-size: 1.1rem;
}
.bottom_part button{
     padding: 10px 20px;
    background: linear-gradient(45deg, #61d7fb 0%, #ff5acd 100%);
    border: none;
    border-radius: 7px;
    color: white;
    transition: .2s all ease;
    
}
.bottom_part button:hover{
    transform: scale(1.1);
}